<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WartaPureté</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/logo.png">
    {% block head %}{% endblock head %}
</head>
<body>
    <h1><a href="/">WartaPureté</a></h1>
    <img src="/static/logo.png" alt="Logo" class="logo">
    <h2>Le test de pureté de la WartaPoirier Corp</h2>
    <main>
    {% block content %}{% endblock content %}
    </main>
</body>
</html>
