{% extends "base" %}

{% block content %}
<p>Joue avec nous !</p>
<p>Il y a {{ question_count }} questions, ça devrait te prendre un quart d'heure.</p>
<form action="/start" method="post">
    <input type="submit" value="Commencer">
</form>
{% endblock content %}
