{% extends "base" %}

{% block content %}
<p>{{ question }}</p>
<ul class="choices">
{% for chc in choices %}
    <li><a href="/{{id}}/{{loop.index0}}"> {{ chc.text }} </a></li>
{% endfor %}
</ul>
{% endblock content %}
