{% extends "base" %}

{% block content %}
<p>Votre score est :</p>
<div class="score">
    {% for cat, pts in session.score %}
    <section>
        {{ cat }}
        <img src="/static/{{ cat | slugify }}.png" alt="{{ cat }}">
        {{ pts }} points
    </section>
    {% endfor %}
</div>
{% endblock content %}
